*{
    margin: 0;
}

body{ /* Page background */
    background-color: rgb(0, 0, 0,.5);
}
#page-block{ /* Page Settings */
    background-attachment: scroll;
    width: 50%;
    display: block;
    text-align: left;
    margin: auto;
    padding-bottom: 2%;
    background-color: white;
}
#header-background{ /* Header background and text settings */
    background-color:rgb(78, 160, 255) ;
    background-image: url(../Images/pattern.png);
    background-position: center 680px;
    text-align: left;
}
#logo{ /* Logo Settings */
    display: block;
    padding: 3%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 250px;
}
main{ /* Main Settings */
    padding: 1%;
}
h1{ /* Title Settings */
    font-size: 250%;
    margin:0;
}
.Trasparent{ /* Trasparent Text sentting */
    color: rgb(0, 0, 0,.5);
    margin-bottom: 2%;
}
#author{
    color:rgb(40, 191, 255);
}
#tim-images{
    margin: 0;
    margin-bottom: 1%;
}
p{
    margin-bottom: 2%
}
ul{
    margin-bottom: 2%
}
table { /* Table Settings */
    border-collapse: collapse;
    margin-bottom: 2%;
}
#table-head{
    background-color:rgb(32, 169, 229);
    color: white;
}
.col-size{ /* Column sizing */
    width: 250px;
}
tbody>tr:nth-child(2n+1){ /* Table color settings */
    background-color: rgb(177, 229, 242);
}
footer{
    padding: 1%;
}
.cor-images{ /* Correlation Articles Settings */
    color: white;
    display: block;
    width: 300px;
    height: 200px;
    background-size: cover;
    margin-bottom: 2%;
}
#cor-images-1{
    background-image: url(../Images/monitor.jpg);
}
#cor-images-2{
    background-image: url(../Images/graph.jpg);
}
