*{
    margin-top: 0;
}

body{
    background-color: rgb(0, 0, 0,.5);
}
#page-block{
    background-attachment: scroll;
    width: 70%;
    display: block;
    text-align: left;
    margin: auto;
    padding-bottom: 2%;
    background-color: white;
}
#logo{
    display: block;
    padding: 3%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 250px;
}
#header-background{
    background-color:rgb(78, 160, 255) ;
    background-image: url(../Images/pattern.png);
    background-position: top;
    text-align: left;
}
main{
    padding: 1%;
}
h1{
    display: block;
    font-size: 250%;
    margin-bottom: 0px;
}
#author{
    color:rgb(40, 191, 255);
}
.Trasparent{
    color: rgb(0, 0, 0,.5);
}
#tim-images{
    display: block;
    margin-bottom: 1%;
}
table {
    border-collapse: collapse;
    margin-bottom: 1%;
}
#table-head{
    background-color:rgb(32, 169, 229);
    color: white;
}
.col-size{
    width: 250px;
}
tbody>tr:nth-child(2n+1){
    background-color: rgb(177, 229, 242);
}
#cor-images-1{
    color: white;
    display: block;
    width: 300px;
    height: 200px;
    background-image: url(../Images/monitor.jpg);
    background-size: cover;
}

#cor-images-2{
    color: white;
    display: block;
    width: 300px;
    height: 200px;
    background-image: url(../Images/graph.jpg);
    background-size: cover;
}
